<div class="col-xs-3">
  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "profile_image", fallback: "no_image.jpg" %>
  <table class="table">
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </table>
  <div class="row">
    <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" href="/users/<%= user.id %>/edit"></a>
  </div>
  <h2>New book</h2>
  <%= form_for(book) do |f| %>
    <div class="field row">
      <%= f.label :title %>
      <%= f.text_field :title, class: "col-xs-12" %>
    </div>
    <div class="field row">
      <%= f.label :body, "Opinion" %> <%= f.text_area :body, class: "col-xs-12" %>
    </div>
    <div class="actions row">
      <%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
    </div>
  <% end %>
</div>
